@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <textarea id="result" style="width: 100%;" rows="20" readonly="readonly">@Model.Result</textarea>
    </div>
</div>
